{% extends 'Shop/base.html' %}
{% load static %}
{% block title %}Password Change {% endblock title %}
{% block main-content %}
<div class="container my-5">
    <div class="row">
        <h3>Welcome {{user}}</h3>
        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-primary">Go to Profile </a></li>
            </ul>
        </div>
        <div class="col-sm-9 offset-sm-1">
                <h3>Change Password</h3>
            <hr>
            <form action="" method="POST" novalidate class="shadow p-5">
                {% csrf_token %}
                {% for i in form %}
                <div class="form-group mb-3">
                    {{i}}<small class="text-danger">{{i.errors | striptags }}</small><br>
                </div>
                {% endfor %}
                <input type="submit" value="Save" class="btn btn-success">
                {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                <p class="alert alert-danger my-3">{{error}}</p>
                {% endfor %}
                {% endif %}
            </form>
        </div>
    </div>
</div>
{% endblock main-content %}