{% extends 'Shop/base.html' %}
{% load static %}
{% block title %}Buy Now{% endblock title %}
{% block main-content %}
<div class="container my-5">
    <div class="row">
        <div class="col-sm-3">
            <div class="list-group">
                <a href="{% url 'saree' %}" class="list-group-item list-group-item-action active" aria-current="true">
                    All Sari
                </a>
                <a href="{% url 'sareeitem' 'Meesho' %}" class="list-group-item list-group-item-action">Meesho</a>
                <a href="{% url 'sareeitem' 'Suvash' %}" class="list-group-item list-group-item-action">Suvash Fashion</a>
                <a href="{% url 'sareeitem' 'above' %}" class="list-group-item list-group-item-action">Above 1500</a>
                <a href="{% url 'sareeitem' 'below' %}" class="list-group-item list-group-item-action">Below 1500</a>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="row">
                {% for product in sari %}
                <div class="col-sm-4 text-center mb-4">
                    <a href="{% url 'product-detail' product.id %}" class="btn">
                        <div class="item">
                            <img src="{{product.product_image.url}}" alt="" height="300" class="">
                            <div class="fw-bold">{{product.title}}</div>
                            <div class="fw-bold">Tk. {{product.discounted_price}} <small
                                    class="fw-light text-decoration-line-through">{{product.selling_price}}</small>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}